<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banner In-App Template</title>
    <meta name="description" content="banner in-app">
    <meta name="author" content="FollowAnalytics">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable = "no"/>
    <!-- Stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="flex-container">

      <div class="item template_image">
        <div class="close">
          <img src="images/closeIcon.svg" alt="close icon">
        </div>
        <img src="images/Paris-06.png"/>
      </div><!--End template_image-->

      <div class="item template_title" role="header">
        <p>Discover the best places for a night out on the town. Tap to know more.</p>
      </div><!--End template_title-->

   </div><!--End content-->
    <!--script src="js/scripts.js"></script-->
  </body>
</html>
