<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pop-up In-App Template</title>
    <meta name="description" content="pop-up in-app">
    <meta name="author" content="FollowAnalytics">
    <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable="no"/>
    <!-- Stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="flex-container">
          <img src="images/paris-01.png"/>

      <div class="template_buttons">
        <div class="button buttonLeft">
          <a id="#" href="#" onclick="FAclose();return false;">Dismiss</a>
        </div>

        <div class="button buttonRight">
          <a id="#" href="#">Download</a>
        </div>
     </div><!--End templates_buttons-->


   </div><!--End content-->
    <!--script src="js/scripts.js"></script-->
  </body>
</html>
